* {
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font: bold 12px Arial;
}

a {
	color: #36b /*347*/;
}

button {
	border: none;
	outline: none;
	transition: ease 0.125s;
	background: #333 /*222*/;
	color: #bbb /*777*/;
	border-radius: 2px;
}

button:hover {
	filter: brightness(87.5%);
}

button:active {
	filter: brightness(75.0%);
}

button::-moz-focus-inner {
	border: 0;
}

input[type=range] {
	appearance: none;
	-webkit-appearance: none;
	height: 16px;
	background: #333 /*222*/;
	border-radius: 2px;
	margin: 4px 0px;
}

input[type=range]::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	width: 32px;
	height: 16px;
	background: linear-gradient(to right, #000, #000 15px, #bbb /*777*/ 15px, #bbb /*777*/ 17px, #000 17px, #000);
	border: none;
	border-radius: 2px;
}

input[type=range]::-moz-range-thumb {
	width: 32px;
	height: 16px;
	background: linear-gradient(to right, #000, #000 15px, #bbb /*777*/ 15px, #bbb /*777*/ 17px, #000 17px, #000);
	border: none;
	border-radius: 2px;
}

pre {
	font: 12px Courier New;
	margin: 0px;
	padding: 0px;
}

#body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #111;
}

#canvas {
	margin-bottom: 16px;
	border-radius: 8px;
	background: #bbb /*555*/;
	padding: 4px;
}

#controls {
	display: flex;
}

#controls > * {
	margin-left: 4px;
	margin-right: 4px;
}

#settings {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#settings > * {
	margin-top: 4px;
	margin-bottom: 4px;
}

#feed-paper {
	width: 32px;
	height: 32px;
	border-radius: 16px;
	margin-top: 8px;
	margin-bottom: 8px;
}

#digit-point { width: 200px; }
#rounding { width: 80px; }
#data-speed { width: 128px; }

#lamp-ovf { background: #611 /*411*/; }
#lamp-sig { background: #161 /*141*/; }
#lamp-mem { background: #666 /*444*/; }
#lamp-ovf.lit { background: #b22 /*722*/; }
#lamp-sig.lit { background: #2b2 /*272*/; }
#lamp-mem.lit { background: #bbb /*777*/; }

#info {
	font: normal 13px Arial;
}

.drag {
	position: absolute;
	background: #111;
	padding: 4px;
	border-radius: 8px;
	border: 2px solid #333 /*222*/;
}

.hidden {
	display: none !important;
}

.center {
	text-align: center;
	width: 100%;
	display: block;
}

.lamp {
	width: 32px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	border-radius: 4px;
}

.range-opt {
	display: flex;
	margin: 0px 4px;
}

.range-opt > span {
	width: 24px;
	height: 16px;
	margin: 4px 0px;
	line-height: 16px;
	text-align: center;
	color: #bbb /*777*/;
}

.padding {
	width: 16px;
}

.menu-btn {
	background: transparent;
	width: 24px;
	padding: 0px;
}

.buttons {
	display: inline-grid;
	grid-template:
		"sign  .     seven eight nine  .     sub   total .     sqrt  clmem" 64px
		"exch  .     four  five  six   .     add   div   .     perc  remem" 64px
		"clent .     one   two   three .     add   mul   .     semem sbmem" 64px
		"clear .     zero  zero2 point .     equ   equ   .     aemem admem" 64px
		/ 64px 16px 64px 64px 64px 16px 64px 64px 16px 64px 64px;
	gap: 8px;
	padding: 8px;
}

.btn {
	font-size: 2em;
	border-radius: 4px;
}

.btn-clmem { grid-area: clmem; }
.btn-remem { grid-area: remem; }
.btn-sbmem { grid-area: sbmem; }
.btn-semem { grid-area: semem; }
.btn-sqrt { grid-area: sqrt; }
.btn-perc { grid-area: perc; }
.btn-admem { grid-area: admem; }
.btn-aemem { grid-area: aemem; }

.btn-total { grid-area: total; }
.btn-div { grid-area: div; }
.btn-mul { grid-area: mul; }
.btn-equ { grid-area: equ; }
.btn-sub { grid-area: sub; }
.btn-add { grid-area: add; }

.btn-nine { grid-area: nine; }
.btn-six { grid-area: six; }
.btn-three { grid-area: three; }
.btn-point { grid-area: point; }
.btn-eight { grid-area: eight; }
.btn-five { grid-area: five; }
.btn-two { grid-area: two; }
.btn-zero2 { grid-area: zero2; }
.btn-seven { grid-area: seven; }
.btn-four { grid-area: four; }
.btn-one { grid-area: one; }
.btn-zero { grid-area: zero; }

.btn-sign { grid-area: sign; }
.btn-exch { grid-area: exch; }
.btn-clent { grid-area: clent; }
.btn-clear { grid-area: clear; }

.bg-blue { background: #36b /*347*/; }
.bg-white { background: #bbb /*777*/; }
.ft-black { color: #111; }
.ft-gray { color: #555 /*333*/; }
.ft-white { color: #bbb /*777*/; }
.ft-red { color: #b11 /*711*/; }